:root {
    --orange: rgb(251, 116, 19);
    --white: rgb(255, 255, 255);
    --lightGrey: rgb(149, 158, 172);
    --liteDarkBlue: rgb(37, 45, 55);
    --darkBlue: rgb(29, 36, 46);
    --veryDarkBlue: rgb(18, 20, 23);
}

.overpass-font {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--veryDarkBlue);
    font-family: "Overpass";
    font-size: 16px;
    color: var(--lightGrey);
}

.main {
    margin: 0 auto;
    position: relative;
    background-color: var(--darkBlue);
    width: 350px;
    height: 335px;
    border-radius: 30px;
    top: 125px;
    padding: 30px;
}

.star {
    background-color: var(--liteDarkBlue);
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.topic {
    color: var(--white);
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 700;
}

.description {
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    height: 100px;
    gap: 15px;
    flex-wrap: wrap;
}

.rateButton {
    display: flex;
}

.rateButton input[type = "radio"] {
    display: none;
}

.rateButton label {
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: var(--liteDarkBlue);
    width: 50px;
    height: 50px;
    transition: background-color 0.2s ease;
    border-radius: 100%;
    cursor: pointer;
}

.rateButton label:hover {
    background-color: var(--orange);
    color: black;
}

.rateButton input[type = "radio"]:checked + label {
    border: none;
    background:var(--white);
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.submitButton {
    border: none;
    background-color: var(--orange);
    color:var(--darkBlue);
    width: 350px;
    height: 40px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1.5px;
}

.submitButton:hover {
    background-color: var(--white);
    color: black;
}

.attribution {
    position: absolute;
    top: 700px;
}



